.secondGroup .visitorSelectFormControl {
  display: flex;
  align-items: stretch;
  height: 32px;
  width: 250px;
  margin-left: 38px;
  background-color: #6b6a6c;
  border-radius: 20px;
  cursor: pointer;

  @media screen and (max-width: 625px) {
    width: 300px;
    margin-bottom: 20px;
  }

  .visitorsSelect {
    color: #ffffff;
  }

  .select {
    margin: 0;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .selectIcon {
    color: #ffffff;
    margin-right: 10px;
  }

}

