#========================= \\\\\\\\\ Services //////// =========================#

#========================= Registry Service +
apiVersion: v1
kind: Service
metadata:
  name: registry-app
  namespace: testing
spec:
  ports:
  - port: 10005
    name: regisrty-port
    nodePort: 31205
  - port: 10006
    name: regisrty
    nodePort: 31206
  selector:
    name: beacons-registry
  type: NodePort
---
#========================= config-app Service +
apiVersion: v1
kind: Service
metadata:
  name: config-app
  namespace: testing
spec:
  ports:
  - port: 10100
    name: config-port
    nodePort: 32102
  - port: 10101
    name: config
    nodePort: 31101
  selector:
    name: beacons-config
  type: NodePort
---
#========================= gateway-app Service +
apiVersion: v1
kind: Service
metadata:
  name: gateway-app
  namespace: testing
spec:
  ports:
  - port: 10020
    name: gateway-port
    nodePort: 31120
  - port: 10021
    name: gateway-debug
    nodePort: 31121
  selector:
    name: beacons-gateway
  type: NodePort


---
#========================= mobile-rest-app Service
apiVersion: v1
kind: Service
metadata:
  name: mobile-service
  namespace: testing
spec:
  ports:
  - port: 10070
    name: mobile-service
    nodePort: 31270
  - port: 10071
    name: mobile-service-debug
    nodePort: 31271
  selector:
    name: beacons-mobile-service
  type: NodePort



#========================= uaa-service-app Service -
# apiVersion: v1
# kind: Service
# metadata:
#   name: uaa-service-app
#   namespace: dev
# spec:
#   ports:
#   - port: 10035
#     name: uaa-service-port
#     nodePort: 30235
#   - port: 10036
#     name: uaa-service-debug
#     nodePort: 30236
#   selector:
#     name: beacons-uaa
#   type: NodePort
# ---
#========================= user-service-app Service -
# apiVersion: v1
# kind: Service
# metadata:
#   name: user-service-app
#   namespace: dev
# spec:
#   ports:
#   - port: 10025
#     name: user-service-port
#     nodePort: 30225
#   - port: 10026
#     name: user-service-debug
#     nodePort: 30226
#   selector:
#     name: beacons-user
#   type: NodePort
# ---
#========================= building-service-app Service -
# apiVersion: v1
# kind: Service
# metadata:
#   name: building-service-app
#   namespace: dev
# spec:
#   ports:
#   - port: 10040
#     name: building-service-port
#     nodePort: 30240
#   - port: 10041
#     name: building-service-debug
#     nodePort: 30241
#   selector:
#     name: beacons-building
#   type: NodePort
# ---
#========================= monitor-service-app Service -
# apiVersion: v1
# kind: Service
# metadata:
#   name: monitor-service-app
#   namespace: dev
# spec:
#   ports:
#   - port: 10080
#     name: monitor-service-port
#     nodePort: 32280
#   - port: 10081
#     name: monitor-service-debug
#     nodePort: 32281
#   selector:
#     name: beacons-monitor
#   type: NodePort


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-config
  namespace: testing
  labels:
    app: beacons-config
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-config
  template:
    metadata:
      labels:
        name: beacons-config
    spec:
      containers:
#========================= 1) config-service    =delay 75 sec
      - name: config-app
        image: ecse00500096.epam.com:5000/beacons-cloud-config-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: TESTING
        - name: port
          value: "31205"
        ports:
        - containerPort: 10100
        - containerPort: 10101
        readinessProbe:
          tcpSocket:
            port: 10100
          initialDelaySeconds: 45
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10100
           initialDelaySeconds: 45
           periodSeconds: 10
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred
