.gradle
.idea
.vscode
dist
.DS_Store
build
node_modules
*.iml
classes
*.log
beacon-admin-web/package-lock.json
/beacon-admin-api/src/main/resources/static/bundle.js
docker/application/*
dockerdb/database/*
out
.allure
**/build.json
.project
.classpath
*.settings
/gradle/**
gradlew
gradlew.bat
/secrets.yml
