
#========================= \\\\\\\\\ Services //////// =========================#

#========================= Registry Service
apiVersion: v1
kind: Service
metadata:
  name: registry-app
  namespace: stage
spec:
  ports:
  - port: 10005
    name: regisrty-port
    nodePort: 30305
  - port: 10006
    name: regisrty-debug
    nodePort: 30306
  selector:
    name: beacons-registry
  type: NodePort
---
#========================= config-app Service
apiVersion: v1
kind: Service
metadata:
  name: config-app
  namespace: stage
spec:
  ports:
  - port: 10100
    name: config-port
    nodePort: 30300
  - port: 10101
    name: config-debug
    nodePort: 32301
  selector:
    name: beacons-config
  type: NodePort
---
#========================= gateway-app Service
apiVersion: v1
kind: Service
metadata:
  name: gateway-app
  namespace: stage
spec:
  ports:
  - port: 10020
    name: gateway-port
    nodePort: 30320
  - port: 10021
    name: gateway-debug
    nodePort: 30321
  selector:
    name: beacons-gateway
  type: NodePort

---
#========================= admin-app Service
apiVersion: v1
kind: Service
metadata:
  name: admin-app
  namespace: stage
spec:
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30380
  selector:
    name: beacons-admin-web
  type: NodePort





#=========================
#========================= Deployments
#=========================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-admin-web
  namespace: stage
  labels:
    app: beacons-admin-web
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-admin-web
  template:
    metadata:
      labels:
        name: beacons-admin-web
    spec:
      containers:
#========================= 0.1) admin-web          
      - name: beacon-admin-web-app
        image: ecse00500096.epam.com:5000/beacon-admin-web:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: regcred 


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-config
  namespace: stage
  labels:
    app: beacons-config
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-config
  template:
    metadata:
      labels:
        name: beacons-config
    spec:
      containers:
#========================= 1) config-service    =delay 75 sec
      - name: config-app
        image: ecse00500096.epam.com:5000/beacons-cloud-config-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10100
        - containerPort: 10101
        readinessProbe:
          tcpSocket:
            port: 10100
          initialDelaySeconds: 45
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10100
           initialDelaySeconds: 45
           periodSeconds: 10
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred 
           
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-registry
  namespace: stage
  labels:
    app: beacons-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-registry
  template:
    metadata:
      labels:
        name: beacons-registry
    spec:
      containers:
#========================= 2) registry-service  =delay 125 sec
      - name: regisrtry-app
        image: ecse00500096.epam.com:5000/beacons-cloud-registry-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        - name: reg_port
          value: "30300"
        ports:
        - containerPort: 10005
        - containerPort: 10006
        readinessProbe:
          tcpSocket:
            port: 10005
          initialDelaySeconds: 125
          periodSeconds: 15
          failureThreshold: 12
        livenessProbe:
           tcpSocket:
             port: 10005
           initialDelaySeconds: 125
           periodSeconds: 15
           failureThreshold: 12
      imagePullSecrets:
      - name: regcred



---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-gateway
  namespace: stage
  labels:
    app: beacons-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-gateway
  template:
    metadata:
      labels:
        name: beacons-gateway
    spec:
      containers:
#========================= 3.1) gateway           =delay 195 sec
      - name: gateway-app
        image: ecse00500096.epam.com:5000/beacons-cloud-gateway:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10020
        - containerPort: 10021
        readinessProbe:
          tcpSocket:
            port: 10020
          initialDelaySeconds: 95
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10020
           initialDelaySeconds: 95
           periodSeconds: 10 
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred

           

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-uaa
  namespace: stage
  labels:
    app: beacons-uaa
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-uaa
  template:
    metadata:
      labels:
        name: beacons-uaa
    spec:
      containers:
#========================= 3.2) uaa-service           =delay 225 sec
      - name: uaa-service-app
        image: ecse00500096.epam.com:5000/beacons-cloud-uaa-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10035
        - containerPort: 10036
        readinessProbe:
          tcpSocket:
            port: 10035
          initialDelaySeconds: 125
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10035
           initialDelaySeconds: 125
           periodSeconds: 10 
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred




---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-building
  namespace: stage
  labels:
    app: beacons-building
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-building
  template:
    metadata:
      labels:
        name: beacons-building
    spec:
      containers:
#========================= 5.4) building-service         =delay 355 sec
      - name: building-service-app
        image: ecse00500096.epam.com:5000/beacons-cloud-building-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10040
        - containerPort: 10041
        readinessProbe:
          tcpSocket:
            port: 10040
          initialDelaySeconds: 155
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10040
           initialDelaySeconds: 155
           periodSeconds: 10 
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-monitor
  namespace: stage
  labels:
    app: beacons-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-monitor
  template:
    metadata:
      labels:
        name: beacons-monitor
    spec:
      containers:
      - name: monitor-service-app
        image: ecse00500096.epam.com:5000/beacons-cloud-monitor-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10080
        - containerPort: 10081
        readinessProbe:
          tcpSocket:
            port: 10080
          initialDelaySeconds: 145
          periodSeconds: 10
        livenessProbe:
           tcpSocket:
            port: 10080
           initialDelaySeconds: 145
           periodSeconds: 10
      imagePullSecrets:
      - name: regcred 

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacons-mobile-service
  namespace: stage
  labels:
    app: beacons-mobile-service
spec:
  replicas: 1
  selector:
    matchLabels:
      name: beacons-mobile-service
  template:
    metadata:
      labels:
        name: beacons-mobile-service
    spec:
      containers:          
#========================= 5.1) mobile-service         =delay 295 sec
      - name: mobile-service-app
        image: ecse00500096.epam.com:5000/beacons-cloud-mobile-service:{{ branch }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "400Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "500m"
        env: 
        - name: loglevel
          value: INFO 
        - name: profile
          value: DEV
        - name: port
          value: "30305"
        ports:
        - containerPort: 10070
        - containerPort: 10071
        readinessProbe:
          tcpSocket:
            port: 10070
          initialDelaySeconds: 195
          periodSeconds: 10
          failureThreshold: 40
        livenessProbe:
           tcpSocket:
             port: 10070
           initialDelaySeconds: 195
           periodSeconds: 10 
           failureThreshold: 40
      imagePullSecrets:
      - name: regcred
